<div class="row">
  <h4>Your division update job is complete:</h4>
  <ul>
    <li>Division: <%= @division%></li>
    <li>Start time: <%= @start_time %></li>
    <li>Completion time: <%= @end_time %></li>
    <li>Divisional Portfolio Reports: <a href='<%=@my_url%>'><%= @my_url %> </a></li>

  </ul>
</div>
