<h4>  Domain Information </h4>
<br />

<div class="row"> </div>

<div class="row">
  <table class="table table-bordered table-striped">
     <thead>
        <tr>
           <th>Domain Name</th>
           <th>Free Zone Transferable?</th>
           <th>Current Redirect</th>
           <th>Last Update</th>
        </tr>
     </thead>
     <tbody>
           <tr>
              <td><%= @domain.name %></td>
              <td>
                <% if @domain.transferable %>
                  <%= "yes" %>
                <% else %>
                  <%= "no" %>
                <% end %>
               </td>
              <td><%= @domain.current_redirect %></td>
              <td><%= @domain.updated_at %></td>
           </tr>
     </tbody>
  </table>

</div>

<div class="row"> </div>
