<h4>  Divisional Domain Portfolio - <%= @division %></h4>
<br />
<!-- http://blog.arkency.com/2017/07/how-to-quickly-add-graphs-and-charts-to-rails-app/ -->
<!-- https://developers.google.com/chart/interactive/docs/gallery/piechart -->

<div id="chart" class="col-md-8 col-lg-8" style="width: auto; height: 300px;">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <%= javascript_tag do -%>

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable(<%=@chart_data%>);
        var options = {
            title: 'Distribution by Keep'
        };
        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);
      }

  <% end -%>
</div>
<div class="row"> </div>

<div class="row">
  <b>Pages: </b><%= will_paginate @domains, previous_label: h("<"), next_label: h(">") %>
  (25 entries per page)
  <span class="text-center">
    &nbsp &nbsp &nbsp &nbsp <b>Total</b>:  <%= @domains.count %>
  </span> &nbsp &nbsp &nbsp &nbsp
  <span class="text-center">
    <%= link_to image_tag("excel.png", size: "35x35", class: "clickable-img", alt: "Download"), reports_download_path(:division => @division) %>
  </span>

  <table class="table table-bordered table-striped">
     <thead>
        <tr>
           <th><%= sortable_domain "name", "Domain", @division %></th>
           <th><%= sortable_domain "imprint", "Imprint", @division %></th>
           <th>Division</th>
           <th><%= sortable_domain "keep", "Keep, Redirect or Release?", @division %></th>
           <th>Current Redirect</th>
           <th>New Redirect</th>
           <th>Last Update</th>
        </tr>
     </thead>

     <tbody>
        <% @domains.each do |domain| %>
           <tr>
              <td>
                <% unless domain.name.nil? %>
                    <%= link_to domain.name, domains_search_path(keyword: domain.name), method: "get"  %>
                <% end %>
              </td>
              <td><%= domain.imprint %></td>
              <td><%= domain.division %></td>
              <td><%= domain.keep %></td>
              <td><%= domain.current_redirect %></td>
              <td><%= domain.new_redirect %></td>
              <td><%= domain.updated_at %></td>

           </tr>
        <% end %>
     </tbody>
  </table>

</div>

<div class="row"> </div>
