<script>
  // reload once after Ajax redirect
  $(document).ready(function() {
    if (window.location.href.includes("?")) {
      if (window.location.href.indexOf('reload')==-1) {
           window.location.replace(window.location.href+'&?reload');
      }
    } else {
      if (window.location.href.indexOf('reload')==-1) {
           window.location.replace(window.location.href+'?reload');
      }
    }
  });
</script>

<h4>  Discovered Sites</h4>
<br />
<%= button_to "Edit", sites_edit_path, class: "btn btn-primary" %>


<b>Pages: </b><%= will_paginate @sites, previous_label: h("<"), next_label: h(">") %>
(25 entries per page)
<span class="text-center">
  &nbsp &nbsp &nbsp &nbsp <b>Total</b>:  <%= @sites.count %>
</span> &nbsp &nbsp &nbsp &nbsp
<span class="text-center">
  <%= link_to image_tag("excel.png", size: "35x35", class: "clickable-img", alt: "Download"), sites_download_path, method: :post %>
</span>

<div class="col-sm-3 col-md-3 col-lg-3 pull-right" style="margin-top: 20px; ">
  <div class="form-inline">
      <%= form_tag(sites_search_path,:method => 'post') do %>
      <%= text_field_tag :keyword, nil, class: "form-control", placeholder: "Site", size: "16" %>
      <button class="btn btn-default" type="submit">
          <span class="glyphicon glyphicon-search"></span>
          Search</button>
      <% end %>
      <!-- /input-group -->
  </div>
</div>
<table class="table table-bordered table-striped">
   <thead>
      <tr>
         <th>Web Site </th>
         <th>Primary IP </th>
         <th>Web Server </th>
         <th>Response Code</th>
         <th>Redirection </th>
         <th>MD5 Fingerprint </th>
         <th>Last Update</th>
      </tr>
   </thead>

   <tbody>
      <% @sites.each do |site| %>
         <tr>
            <td><%= link_to site.site, site_urls_display_path(:site => site.site), target: "_blank" %></td>
            <td><%= site.ip %></td>
            <td><%= site.server %></td>
            <td><%= site.code %></td>
            <td><%= site.redirection %></td>
            <td><%= site.md5 %></td>
            <td><%= site.updated_at %></td>

         </tr>
      <% end %>
   </tbody>
</table>
