
<h4>Website Details</h4>

<br />
  <table class="table table-striped" style="border: 1">
      <tr>
        <td>Site:
        </td>
        <td><%=@site.site %></td>
        <td>IP:
        </td>
        <td><%=@site.ip %></td>
      </tr>
      <tr>
        <td>Port: </td>
        <td><%= @site.port %></td>
        <td>Response Code:
        </td>
        <td><%=@site.code %></td>
      </tr>
      <tr>
        <td>Redirection:
        </td>
        <td><%=@site.redirection %></td>
        <td>MD5 Signature: </td>
        <td> <%= @site.md5 %> </td>
      </tr>
      <tr>
        <td>Server:
        </td>
        <td><%=@site.server %></td>
        <td>Hosting Status: </td>
        <td> <%= @site.status %> </td>
      </tr>
      <tr>
        <td>Update:
        </td>
        <td><%=@site.updated_at %></td>
        <td></td>
        <td></td>
      </tr>
  </table>
  <p>
  </p>
