<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Web Mapper Project</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>
    <meta name="msapplication-config" content="none"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body style="background: none">
    <div class="container">
      <hr style="border-top: 1px solid black; border-bottom: 7px solid #F2F2F2;margin-top: 2px;margin-bottom: 0px;">
      <div class="row">
        <div class="col-sm-4 col-md-6 col-lg-6">
          <%= link_to image_tag("owasp_logo.png", class: "clickable-img", size: "160x60"), "https://www.owasp.org/", id: "OWASP Logo" %>
          <%= link_to image_tag("wmap_logo.jpg", class: "clickable-img", size: "80x30"), "https://www.owasp.org/index.php/OWASP_Web_Mapper_Project", id: "wmap logo", target: "_blank" %>
        </div>
        <div class="col-sm-4 col-md-6 col-lg-6" style="margin-top: 20px; padding-left: 160px;">
          <div class="form-inline">
              <%= form_tag(domains_search_list_path,:method => 'post') do %>
              <%= text_field_tag :keyword, nil, class: "form-control", placeholder: " Domain", size: "16" %>
              <button class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                  Search</button>
              <% end %>
              <!-- /input-group -->
          </div>
        </div>
      </div>

      <div role="navigation" class="navbar navbar-default">
        <div class="collapse navbar-collapse">
          <ul class="nav nav-tabs pull-left">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Home<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ><a href="/home/page">Start</a></li>
                <li ><a href="/home/about" >About</a></li>
              </ul>
            </li>
            <li class='divider-vertical'></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                 Registrations<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/domains/index"> Domain(s)</a></li>
                <li><a href="/cidrs/index"> Network Block(s)</a></li>
              </ul>
            </li>
            <li class='divider-vertical'></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Discovery<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/hosts/index"> Hosts</a></li>
                <li><a href="/sites/index"> Sites</a></li>
                <li><a href="/site_urls"> Urls</a></li>
                <li ><a href="/seed/start">Discovery Seed</a></li>
                <li><a href="/logs/list">Discovery Logs</a></li>
              </ul>
            </li>
            <li class='divider-vertical'></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Support<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ><a href="/documents/www_wmap_rdoc/index" target="_blank"> Frontend Documents</a></li>
                <li ><a href="/documents/wmap_rdoc/index" target="_blank"> Backend Documents</a></li>
                <li ><a href="/support/faq">FAQ</a> </li>
                <li ><a href="/support/contact">Contact</a> </li>
              </ul>
            </li>
            <li class='divider-vertical'></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Reports<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ><a href="/reports/index">Report List</a></li>
              </ul>
            </li>
            <li class='divider-vertical'></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                Admin<span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li ><a href="/users">User Management</a></li>
                <li><a href="/yml_settings/index">Settings</a></li>
              </ul>
            </li>
            <li class='divider-vertical'></li>
            <% if user_signed_in? %>
              <li><%= link_to('Logoff', destroy_user_session_path, :method => :delete) %></li>
            <% else %>
              <li><%= link_to('Logon', new_user_session_path)  %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <hr style="border-top: 1px solid #C4D7ED; border-bottom: 7px solid #F2F2F2;margin-top: 2px;margin-bottom: 0px;">
      <div id="root_notice">
        <% flash.each do |key, value| %>
          <div class="alert-temp alert alert-info alert fade in alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>

      <%= yield %>

      <p></p>

      <%= render 'layouts/footer' %>

      <% if false %>
        <%= debug(params)if Rails.env.development? %>
        <%= params.inspect if Rails.env.development? %>
      <% end %>

  </div>

  </body>
</html>
